{% extends "base.html" %}
{% load static %}


{% block styling %}
{% endblock %}

{% block content %}

    <a href = "/skoleni">Zpátky na tabulku školení.</a>

    <h1>Vymazat školení</h1> 
    
    <table class="delete_trained_table">
        <tr>
            <th class="delete_trained_table_th">Název školení</th>
        </tr>
        {% for trained in trainedsAll%}
            <tr>
                <td id="trainedsName" class="delete_trained_table_td">
                    {{trained}}
                </td>
            </tr>
        {% endfor %}
    </table>

    <div class="delete_trained_form">
        <form method="POST">
            {% csrf_token %}
            <input type="text" id="name_trained" name="name_trained">
            <button>Vymazat</button>
        </form>
    </div>
    
{% endblock%}

{% block scripts %}
    <script src="{% static "Scripts/deleteTrained.js" %}"></script>
{% endblock %}