{% extends "base.html" %}
{% load static %}

{% block styling %}
{% endblock %}

{% block content %}
    <a href = "/uvod">Zpátky na úvod.</a>
    <h1> Tabulka školení zaměstnanců</h1>
    <div>
        <table class="table_employees_traineds">
            <tr>
                <th>Název školení:</th>
                <br>
                {% for trained in traineds%}
                    <th>{{trained }}</th>
                {% endfor %}
            </tr>
            <tr>
                <tr>
                    {% for key, value in employees_traineds.items %}
                    <tr>
                        <td class="table_employees_traineds_td">
                            {% for employee in employees%}
                                {% if key == employee.card%}
                                    <div>{{employee.name}} {{employee.surname}}</div>
                                {% endif %}
                            {% endfor %}
                        </td>
                        {% for val in value%}
                            <td class="table_employees_traineds_td">
                                {{val}}
                            </td>
                        {% endfor%}
                    </tr>
                    {% endfor %}
                </tr>
            </tr>
        </table>
    </div>

    <hr>

    <div class="add_remove_trained">
        <button class="add_trained_button" id="add_trained_button">Přidat školení</button>
        <div class="add_trained" id="add_trained">
            <form action="" method="POST">
                {% csrf_token %}
                {{newTrained.label_tag}}
                {{newTrained}}
                {{newTrained.errors}}
                <button>Přidat školení</button>
            </form>
        </div>

        <a href="/vymazat_skoleni" class="remove_trained">Vymazat školení</a>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static "Scripts/traineds.js" %}"></script>
{% endblock %}