@mixin table_form{
    input{
        border-radius: 20px;
        padding: 5px;
        outline: none;
        border: 1px solid black;
    }
    button{
        border-radius: 10px;
        border: none;
        background-color: rgb(98, 230, 66);
        font-size: 15px;
        padding: 7px;
        box-shadow: 1px 1px 5px black;
        margin-left: 10px;
    }
}
@mixin center{
    margin-left:50%;
    transform: translateX(-50%);
}