@import "mixins";
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    min-height: 100vh;
    background: url(../IMG/Background.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-size: cover;
    .contents{
        margin: 0 5%;
    }
}
a{
    text-decoration: none;
}
input{
    border-radius: 20px;
    padding: 5px;
    outline: none;
}
h1{
    padding-top: 2%;
    text-align: center;
    color: rgb(72, 72, 240);
}
h2{
    margin-bottom: 1%;
}
p{
    font-size: 17px;
}
button{
    border-radius: 10px;
    border: none;
    background-color: rgb(98, 230, 66);
    font-size: 15px;
    padding: 7px;
    box-shadow: 1px 1px 5px black;
}
/***** DELETE EMPLOYEE *****/
.delete_employee{
    text-align: right;
}
.delete_form{
    text-align: center;
    button{
        margin-top: 20px;
    }
}
/***** HEADER *****/
header{
    width: 100%;
    height: 50px;
    float: left;
    margin-bottom: 3%;
    background: linear-gradient(100deg,rgb(103, 226, 248), rgb(60, 63, 233));
    .user_list{
        padding-right: 5%;
        float: right;
        display: flex;
        p{
            width: 200px;
            text-align: center;
            margin-top: 5%;
            color: white;
        }
        .logOff{
            color: white;
            text-decoration: none;
            width: 100px;
            margin-top: 5%;
        }
    }
}

/***** SING IN *****/
.logIn{
    margin: 7% auto;
    form{
        border: 1px solid black;
        width: 40%;
        margin: auto;
        padding:2%;
        border-radius: 5px;
        input{
            border:none;
            border-bottom: 1px solid black;
            box-shadow: -2px -2px 7px black;
        }
        td{
            text-align: center;
            padding: 2%;
        }
    }
}
/***** INDEX *****/

.search_bar{
    display: flex;
    @media only screen and (max-width: 1150px) {
        display: block;
        .search_engine{
            height: none;
        }
    }
    @media only screen and (max-width: 450px){
        .search_engine{
            width: 100%;
            button{
                margin-top: 20px;
            }
        }
        .list_of_employees{
            width: 100%;
            height: none;
        }
    }
    .search_engine{
        margin: 5% auto;
        border: 1px solid black;
        width: 500px;
        height: 100px;
        text-align: center;
        padding: 10px;
        box-shadow: 2px 2px 7px black ;
        form{
            margin-top: 15px;
        }
    }
    .list_of_employees{
        margin: 5% auto;
        width:500px;
        border: 1px solid black;
        padding: 15px;
        box-shadow: -2px -2px 5px black;
        h2{
            text-align: center;
            margin-bottom: 15px;
        }
        table{
            @media only screen and (max-width: 450px){
                margin-left: 15%;
            }
            @media only screen and (min-width: 450px){
                @include center;
            }
            border-collapse: collapse;
            display: none;
            @include table_form;
            .table_num_card{
                cursor: pointer;
            }
            .table_list_of_employee_td{
                border: 1px solid black;
            }
            .button_close_list{
                margin-top: 10px;
                @include center;
                width: 100%;
            }
        }
    }
}
/***** EMPLOYEE *****/
.storage_report{
    width: 100%;
    text-align: center;
}
.employee{
    width: 100%;
    display: flex;
    margin: 3% auto;
    .employee_name{
        margin: 0 auto;
        text-align: center;
    }
}
.employee_text{
    padding: 1%;
    table{
        width: 100%;
        h3{
            margin-bottom: 10px;
        }
        .edit_comment{
            display: block;
            @include center;
        }
        .edit_merit{
            display: block;
            @include center;
        }
        .new_comment{
            display: none;
        }
        .new_merit{
            display: none;
        }
    }
}
.send_edits{
    display: none;
}
.add_trained{
    display: none;
    .name_trained{
        margin-bottom: 5px;
        cursor: pointer;
    }
}
.trained{
    width:50%;
}
hr{
    margin: 10px 0;
}
td{
    text-align: center;
    padding: 5px 10px;
}
label{
    font-size: 20px;
}
textarea{
    margin-top: 10px;
    font-size: 15px;
    width: 100%;
}
.butt{
    margin-top: 10px;
    @include center;
}
/***** FOOTER *****/
footer{
    width:100%;
    height: 100px;
}
/***** NEW EMPLOYEE *****/
.new_employee{
    padding-top: 75px;
}
.fomr_new_employee{
    margin-top: 20px;
    text-align: center;
    padding: 20px;
    table{
        @include center;
        width: 40%;
    }
}
/***** Trained *****/
.table_employees_traineds{
    width: 100%;
    border-collapse: collapse;
    .table_employees_traineds_td{
        border: 1px solid black;
    }
}
.add_remove_trained{
    width: 100%;
    margin-top: 20px;
    .add_trained{
        width: 50%;
        display: none;
    }
    .remove_trained{
        float: right;
        text-align: right;
    }
}


/***** Delete Trained *****/
.delete_trained_table{
    margin-top: 20px;
    @include center;
    border-collapse: collapse;
    width: 20%;
    .delete_trained_table_td{
        border: 1px solid black;
        cursor: pointer;
    }
}
.delete_trained_form{
    margin-top: 20px;
    @include center;
    text-align: center;
}